@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    
}
body{
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#name{
    text-align: center !important;
    align-items: justify !important;
    
}
table{
    align-items: center !important;
    text-align: center !important;
}
th ,td{
    text-align: center !important;
    align-items: center !important;
}
a{
    color: white;
}